<template>
  <div class="col-md-3">
    <v-card width="95%">
      <template v-slot:title>
        <div class="d-flex justify-content-between">
          {{ name }}
          <font-awesome-icon icon="fa fa-bars"></font-awesome-icon>
        </div>
      </template>

      <template v-slot:subtitle>{{ email }}</template>

      <template v-slot:text>
        <div class="d-flex justify-content-between">
            <span class="align-self-end">          {{ phoneNumber }}
</span>
          <v-avatar :color="avatar_color">
            <span class="text-h5 text-white">{{ generateInitial(name) }}</span>
          </v-avatar>
        </div>
      </template>
    </v-card>
  </div>
</template>

<script>
export default {
  methods: {
    generateInitial(name) {
      var names = name.split(" "),
        initials = names[0].substring(0, 1).toUpperCase();

      if (names.length > 1) {
        initials += names[names.length - 1].substring(0, 1).toUpperCase();
      }
      return initials;
    },
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    email: {
      type: String,
      required: true,
    },
    avatar_color: {
      type: String,
      required: true,
    },
    phoneNumber: {
      type: String,
      required: false,
      default: "No phone number provided",
    },
  },
};
</script>

<style>
</style>