<template>
  <div class="d-flex flex-row">
    <v-avatar class="text-white" v-for="user in users" :key="user.id" :color="user.avatar_color">
      <span class="text-h5">{{ generateInitial(user.name) }}</span>
      <v-tooltip activator="parent" location="top">{{ user.name}}<br/> {{ user.email }}</v-tooltip>
    </v-avatar>
  </div>
</template>

<script>
export default {
  props: {
    users: {
      type: Array,
      required: false,
    },
  },
  methods: {
    generateInitial(name) {
      var names = name.split(" "),
        initials = names[0].substring(0, 1).toUpperCase();

      if (names.length > 1) {
        initials += names[names.length - 1].substring(0, 1).toUpperCase();
      }
      return initials;
    },
  },
};
</script>

<style scoped>
</style>