<template>
  <v-menu transition="scale-transition">
    <template v-slot:activator="{ props }">
      <v-btn variant="plain" v-bind="props">
        <font-awesome-icon
          class="fw-bold bi me-2"
          width="16"
          height="16"
          icon="fa-solid fa-bars"
        />
      </v-btn>
    </template>

    <v-list>
      <v-list-item>
        <v-list-item-title>
          <slot></slot>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {},
};
</script>

<style scoped>

</style>