<template>
  <v-expansion-panels>
    <v-expansion-panel
      collapse-icon="fa-caret-down"
      :rounded="0"
    >
      <v-expansion-panel-title class="text-break">{{
        description.substring(0, 60)
      }}</v-expansion-panel-title>
      <v-expansion-panel-text>
        {{ description }}
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
export default {
    props: {
        description: {
            type: String,
            required: false
        }
    }
};
</script>