<template>
  <link rel="icon" :href="favicon" type="image/x-icon" />
</template>


<script>
export default {
  computed: {
    favicon() {
      return this.$page.props.favicon || "/favicon.ico";
    },
  },
};

</script>
