<template>
      <v-sheet
    class="mx-auto"
    max-width="600"
  >
    <v-slide-group
      :show-arrows=true
    >
      <v-slide-group-item
        v-for="n in 25"
        :key="n"
      >
      <v-avatar>
      <v-img
        src="https://cdn.vuetifyjs.com/images/john.jpg"
        alt="John"
      ></v-img>
    </v-avatar>
      </v-slide-group-item>
    </v-slide-group>
  </v-sheet>
</template>

<script>

export default {

}
</script>
