<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="350px">
      <v-card>
        <v-card-text>
          Type out <span style="color: violet">{{ itemType }}'s</span> name:
          <span class="text-decoration-underline" style="color: violet">
            {{ itemName }}</span
          >
          to confirm <span style="color: red">deletion</span>
        </v-card-text>
        <v-card-text>
          <v-text-field :label="itemType" v-model="confirmName"> </v-text-field>
        </v-card-text>
        <v-card-actions class="">
          <v-btn color="primary" @click="dialog = false">Cancel</v-btn>
          <v-btn @click="deleteItem" :disabled="!isDisabled" color="red"
            >Confirm</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { router } from "@inertiajs/vue3";
import preserveUrl from "../../utils";

export default {
  data() {
    return {
      dialog: false,
      itemType: "",
      itemName: "",
      itemId: "",
      confirmName: "",
    };
  },
  methods: {
    openDialog(data) {
      this.confirmName = "";
      this.itemId = data.itemId;
      this.itemType = data.itemType;
      this.itemName = data.itemName;
      this.dialog = true;
    },
    deleteItem() {
      const currentUrl = window.location.href;
      router.delete(`/${this.itemType}s/${this.itemId}`, {
        onFinish: () => {
          window.history.replaceState(null, null, currentUrl);
          this.$store.commit('findSectionAndDelete', this.itemId);
          this.dialog = false;
        },
      })
    },
  },
  computed: {
    isDisabled() {
      return this.itemName == this.confirmName;
    },
  },
};
</script>
  