<template>
  <g-gantt-chart
    v-if="filteredSectionGanttRows.length > 0"
    :chart-start="findLatestDateInSectionTasks"
    :chart-end="findEarliestDateInSectionTasks"
    precision="day"
    bar-start="beginDate"
    bar-end="endDate"
  >
    <g-gantt-row
      v-for="section in filteredSectionGanttRows"
      :key="section.id"
      :label="section.name"
      :bars="mappedBars"
    />
  </g-gantt-chart>
  <span v-else>Not enough data for Gantt Diagram</span>
</template>
  
  <script>
export default {
  methods: {
    mapTaskToGanttBar(task) {
      const mappedObj = {
        beginDate: this.dateToIso(task.created_at),
        endDate: `${task.due_date} 00:00`,
        ganttBarConfig: {
          id: task.id,
          hasHandles: true,
          label: task.title,
          style: {
            // Add this object
            background: this.randomColorHexcode(),
            borderRadius: "4px",
            color: "black",
          },
        },
      };
      console.log(mappedObj);
      return mappedObj;
    },
    dateToIso(isoDate) {
      const date = new Date(isoDate);
      const formattedDate = date.toISOString().replace("T", " ").slice(0, -8);
      return formattedDate;
    },
    randomColorHexcode() {
      const hexcode = Math.floor(Math.random() * 16777215).toString(16);
      return `#${hexcode}`;
    },
  },
  computed: {
    filteredSectionGanttRows() {
      return this.sectionGanttRows.filter(
        (section) => section.tasks && section.tasks.length > 0
      );
    },
    findEarliestDateInSectionTasks() {
      const earliestDate = this.filteredSectionGanttRows
        .map((section) => {
          return section.tasks.map((task) => this.dateToIso(task.created_at));
        })
        .flat()
        .sort()
        .shift();
      console.log("earliestDate: " + earliestDate);
      return `${earliestDate}`;
    },
    mappedBars() {
      return this.filteredSectionGanttRows
        .map((section) => {
          return section.tasks.map((task) => this.mapTaskToGanttBar(task));
        })
        .flat();
    },
    findLatestDateInSectionTasks() {
      const latestDate = this.filteredSectionGanttRows
        .map((section) => {
          return section.tasks.map((task) => task.due_date);
        })
        .flat()
        .sort()
        .pop();
      console.log("latestDate:" + latestDate);
      return `${latestDate} 00:00`;
    },
  },
  props: {
    initData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      sectionGanttRows: this.initData,
    };
  },
  beforeMount() {},
  mounted() {
    console.log(this.sectionGanttRows);
  },
};
</script>