<template>
  <div
    :class="parentStyles"
    class="mt-5"
    v-show="
      this.$store.getters.getSearchString === '' ||
      taskInformationForSearch.includes(this.$store.getters.getSearchString)
    "
  >
    <v-card width="100%">
      <v-card-item>
        <v-card-title>
          <div class="d-flex justify-content-between">
            <div>
              <span>
                {{ title }}
              </span>

              <v-chip class="ms-3" :color="randomColor"
                ><span>{{ type }}</span></v-chip
              >

              <v-chip class="ms-3" :color="relevanceColor">
                <span>{{ relevance }}</span>
                <font-awesome-icon
                  v-show="this.relevance === 'Urgent'"
                  class="ms-1 fs-6"
                  icon="fa fa-exclamation-circle"
                ></font-awesome-icon>
              </v-chip>
            </div>
            <div class="d-flex">
              <div class="me-3">
                <v-chip :color="dateDeadlineColor.color" size="large">
                  <span>{{ due_date }}</span>
                  <font-awesome-icon
                    v-show="dateDeadlineColor.icon"
                    class="ms-1 fs-6"
                    icon="fa fa-exclamation-circle"
                  ></font-awesome-icon>
                </v-chip>
                <v-tooltip activator="parent" location="top">{{ dateDeadlineColor.message }}</v-tooltip>
              </div>
              <select
                class="form-select text-white"
                v-model="select"
                @change="changeStatus"
                width="200px"
                :style="{ 'background-color': statusColor }"
                aria-label="Default select example"
              >
                <option
                  class="bg-white"
                  v-for="state in taskStates"
                  :key="state"
                  :value="state"
                  :selected="state === status"
                >
                  {{ state }}
                </option>
              </select>

              <burger-menu>
                <v-btn @click="launchEditor" color="#FFBF00" variant="plain"
                  >Edit</v-btn
                >
                <v-btn @click="deleteTask" variant="plain" color="red">
                  DELETE
                </v-btn>
              </burger-menu>
            </div>
          </div>
        </v-card-title>

        <v-card-subtitle> </v-card-subtitle>

        <v-card-text class="p-0">
          <!-- <description-expander :description="description"></description-expander> -->
          <div class="d-flex justify-content-between">
            <span> {{ description }} </span>
            <avatar-group :users="users"></avatar-group>
          </div>
        </v-card-text>
      </v-card-item>
    </v-card>
  </div>
</template>

<script>
import DescriptionExpander from "../UI/DescriptionExpander.vue";
import SlideGroup from "../UI/SlideGroup.vue";
import AvatarGroup from "../UI/AvatarGroup.vue";
import BurgerMenu from "../UI/BurgerMenu.vue";
import { router } from "@inertiajs/vue3";
import eventBus from "../../eventBus";

export default {
  data() {
    return {
      select: "",
      isMounted: false,
    };
  },
  components: {
    DescriptionExpander,
    SlideGroup,
    AvatarGroup,
    BurgerMenu,
  },
  props: {
    id: {
      type: Number,
      required: true,
    },
    type: {
      type: String,
      required: true,
      default: "Type missing",
    },
    title: {
      type: String,
      required: true,
      default: "Title missing",
    },
    description: {
      type: String,
      required: true,
      default: "Description missing",
    },
    parentStyles: {
      type: String,
      required: false,
    },
    taskStates: {
      type: Array,
      required: false,
      default: ["TODO", "IN-PROGRESS", "DONE"],
    },
    status: {
      type: String,
      required: true,
    },
    relevance: {
      type: String,
      required: false,
    },
    users: {
      type: Array,
      required: false,
    },
    due_date: {
      type: String,
      required: true,
    },
    sectionId: {
      type: String,
      required: true,
    },
  },
  methods: {
    deleteTask() {
      router.delete(`/tasks/${this.id}`);
      this.$store.commit("findTaskAndDelete", this.taskData);
    },
    launchEditor() {
      this.$store.commit("setEditingTask", this.taskData);
      this.$store.commit("setIsTaskEditingMode", this.taskData);
      eventBus.emit("launch-editor", { state: true, section: this.sectionId, });
    },
    changeStatus() {
      router.put(`/tasks/status/${this.id}`, {
        status: this.select,
      });
      this.$store.commit("findStatusAndUpdate", {
        id: this.id,
        sectionId: this.sectionId,
        status: this.select,
      });
    },
  },
  computed: {
    randomColor() {
      let n = (Math.random() * 0xfffff * 1000000).toString(16);
      return "#" + n.slice(0, 6);
    },
    relevanceColor() {
      return this.relevance === "Urgent" ? "red" : "green";
    },
    dateDeadlineColor() {
      const nowEquals = new Date().toDateString();
      const deadlineEquals = new Date(this.due_date).toDateString();

      const nowMilis = new Date();
      const deadlineMilis = new Date(this.due_date);

      if (nowEquals === deadlineEquals) {
        return { color: "#FFA500", icon: false, message: 'Deadline is today.' };
      } else if (nowMilis < deadlineMilis) {
        return { color: "#4BB543", icon: false, message: 'There\'s still time :)' };
      } else {
        return { color: "red", icon: true, message: 'Deadline has passed!' };
      }
    },
    taskData() {
      const {
        id,
        sectionId,
        users,
        type,
        status,
        select,
        title,
        description,
        relevance,
        due_date,
      } = this;
      return {
        id,
        sectionId,
        assigned_people: users,
        type,
        status,
        title,
        description,
        select,
        relevance,
        due_date,
      };
    },
    statusColor() {
      switch (this.select) {
        case "TODO":
          return "#808080";
        case "IN-PROGRESS":
          return "#FFA500";
        case "DONE":
          return "#4BB543";
        default:
          return "#FF9494";
      }
    },
    taskInformationForSearch() {
      return `${this.title} ${this.description}`;
    },
  },
  mounted() {
    this.select = this.status;
  },
  created() {
    console.log('base task rendered' + this.id)
  },
};
</script>

<style>
</style>