<template>
  <li class="list-group-item" :class="{ active: isActive }">
    <inertia-link
      :href="workspaceLink"
      class="nav-link link-dark"
      @click="setSelectedTable"
    >
      {{ name }}
    </inertia-link>
  </li>
</template>

<script>
export default {
  data() {
    return {};
  },
  name: "base-table",
  props: {
    name: {
      type: String,
      required: true,
      default: "unnamed table",
    },
    tableId: {
      type: Number,
      required: true,
    },
  },
  methods: {
    setSelectedTable() {
      const table = this.$store.getters?.getTables.find(
        (t) => t.id === this.tableId
      );
      this.$store.commit("setSelectedTable", table);
    },
  },
  computed: {
    isActive() {
      return this.$store.getters.getSelectedTable?.id == this.tableId;
    },
    workspaceLink() {
      const workspaceId = this.$store.getters.getSelectedWorkspace.id;
      return `/workspaces/${workspaceId}/${this.tableId}`;
    },
  },
  mounted() {
    this.$inertia.on("start", () => {
      this.$store.commit("setTasksLoading", true);
    });

    this.$inertia.on("finish", () => {
      this.$store.commit("setTasksLoading", false);
    });
  },
};
</script>

<style scoped>
li:hover,
li:active,
li.active,
li.active:focus,
li.exact-active {
  color: white !important;
  border-color: #dc4c41 !important;
  background-color: #dc4c41 !important;
}

.list-group-item {
  border-radius: 0px !important;
}
</style>