<template>
  <form @submit.prevent="createSection">
    <v-card width="30%">
      <v-card-item>
        <div class="d-flex flex-row justify-content-between align-items-center">
          <v-text-field
            density="compact"
            label="Section name"
            style="max-width: 200px"
            v-model="form.title"
          ></v-text-field>
          <div>
            <button
              type="button"
              @click="$emit('closeTab')"
              class="btn btn-danger me-3"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-success">Add section</button>
          </div>
        </div>
      </v-card-item>
    </v-card>
  </form>
</template>
    
<script>
import { reactive } from "vue";
import { router } from "@inertiajs/vue3";

export default {
  emits: ["closeTab"],
  data() {
    return {
      form: reactive({
        title: "",
      }),
    };
  },
  methods: {
    createSection() {
      const currentUrl = window.location.href;
      router.visit("/sections", {
        method: "post",
        data: {
          ...this.form,
          tableId: this.$store.getters?.getSelectedTable.id,
        },
        preserveState: true,
        preserveScroll: true,
        onFinish: () => {
          window.history.replaceState(null, "", currentUrl);
        },
      });
      this.$emit("closeTab");
    },
  },
};
</script>
    
    <style scoped>
.col-md-2 {
  padding: 0;
}

.corner {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
</style>

