<template>
  <Teleport to="body">
    <v-modal>
      <template #header>
        <span></span>
      </template>
      <template #body>
        <form @submit.prevent="createTable">
          <div class="mb-3">
            <label for="workspacename" class="form-label">Table name</label>
            <input
              type="text"
              class="form-control"
              id="workspacename"
              @input="changeTableName"
            />
          </div>
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="defaulttables"
              :checked="form.includeDefaultSections"
              @change="changeRadioButton"
            />
            <label class="form-check-label" for="defaulttables"
              >Include default sections</label
            >
          </div>
          <button
            type="submit"
            class="btn btn-primary me-1"
          >
            Create table
          </button>
          <button class="btn btn-primary btn-danger" @click="closeModal">
            Cancel
          </button>
        </form>
      </template>
      <template #footer>
        <span></span>
      </template>
    </v-modal>
  </Teleport>
</template>

<script>
import VModal from "../UI/VModal.vue";
import { reactive } from "vue";
import { router } from "@inertiajs/vue3";

export default {
  emits: ["closeModal"],
  data() {
    return {
      form: reactive({
        name: "",
        includeDefaultSections: false
      }),
    };
  },
  components: {
    VModal,
  },
  methods: {
    changeTableName(event) {
      this.form.name = event.target.value;
    },
    closeModal() {
      this.$emit("closeModal");
    },
    createTable() {
      router.post("/tables", {
        ...this.form,
        workspaceId: this.$store.getters.getSelectedWorkspace.id,
      });
      this.$emit('closeModal');
    },
    changeTableName(event) {
      this.form.name = event.target.value;
    },
    changeRadioButton() {
      this.form.includeDefaultSections = !this.form.includeDefaultSections;
      console.log("sections" + this.form.includeDefaultSections);
    }
  },
};
</script>

<style>
</style>