<template>
  <form @submit.prevent="manipulateTask">
    <v-card width="100%">
      <v-card-item>
        <v-card-title>
          <div class="d-flex justify-content-between">
            <div>
              <v-text-field
                density="compact"
                label="Title"
                style="width: 200px"
                v-model="form.title"
              ></v-text-field>
            </div>
            <div class="d-flex align-items-center">
              <div style="width: 200px">
                <v-select
                  density="compact"
                  label="Progress"
                  :items="['TODO', 'IN-PROGRESS', 'DONE']"
                  class="me-3"
                  v-model="form.status"
                ></v-select>
              </div>
              <v-text-field
                density="compact"
                label="Type"
                style="width: 200px"
                v-model="form.type"
              ></v-text-field>
            </div>
          </div>
        </v-card-title>

        <v-card-text class="p-0">
          <!-- <description-expander :description="description"></description-expander> -->
          <v-textarea
            density="compact"
            label="Description"
            v-model="form.description"
            @input="debugObj"
          ></v-textarea>
        </v-card-text>

        <v-card-text class="p-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
                <v-select
                  v-model="form.assigned_people"
                  :items="users"
                  item-title="name"
                  item-value="id"
                  return-object
                  label="Assign to task"
                  multiple
                >
                  <template v-slot:selection="{ item, index }">
                    <v-chip v-if="index < 2">
                      <span>{{ item.title }}</span>
                    </v-chip>
                    <span
                      v-if="index === 2"
                      class="text-grey text-caption align-self-center"
                    >
                      (+{{ form.assigned_people.length - 2 }} others)
                    </span>
                  </template>
                </v-select>
              </div>
              <div class="col-md-1">
                <input type="date" :min="todaysDate" v-model="form.due_date" />
              </div>
              <div class="col-md-3">
                <v-select
                  v-model="form.relevance"
                  label="Select"
                  :items="['Normal', 'Urgent']"
                ></v-select>
              </div>
              <div class="col-md-2 corner">
                <button
                  type="button"
                  @click="closeEditor"
                  class="btn btn-danger me-3"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-success">
                  {{ submitButtonText }}
                </button>
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card-item>
    </v-card>
  </form>
</template>
  
  <script>
import { reactive } from "vue";
import { router } from "@inertiajs/vue3";
import eventBus from "../../eventBus";

export default {
  props: {},
  computed: {
    submitButtonText() {
      return this.$store.getters.getIsTaskEditingMode
        ? "Edit task"
        : "Add task";
    },
    todaysDate() {
      const today = new Date();
      const year = today.getFullYear();
      const month = ("0" + (today.getMonth() + 1)).slice(-2);
      const day = ("0" + today.getDate()).slice(-2);
      return `${year}-${month}-${day}`;
    },
  },
  data() {
    return {
      form: reactive({
        title: "",
        type: "",
        description: "",
        due_date: "",
        relevance: "",
        assigned_people: [],
        status: "",
      }),
      users: [],
    };
  },
  methods: {
    closeEditor() {
      eventBus.emit("launch-editor", { state: false, section: null });
    },
    createTask() {
      const currentUrl = window.location.href;
      router.post("/tasks", {
        ...this.form,
        sectionId: this.$store.getters.getActiveSection.id,
        onFinish: () => {
          window.history.replaceState(null, "", currentUrl);
        },
      });
      this.closeEditor();
    },
    editTask() {
      router.put(`/tasks/${this.form.id}`, {
        ...this.form,
      });
      this.$store.commit("findTaskAndUpdate", {
        sectionId: this.sectionId,
        ...this.form,
      });
      this.closeEditor();
    },
    manipulateTask() {
      if (this.$store.getters.getIsTaskEditingMode) {
        this.editTask();
      } else {
        this.createTask();
      }
    },
    initializeTask() {
      const userArray = this.$store.getters.getUsersInWorkspace;
      userArray.forEach((u) => this.users.push({ id: u.id, name: u.name }));
      const editingTask = this.$store.getters?.getIsTaskEditingMode;
      if (this.$store.getters?.getIsTaskEditingMode) {
        this.form = reactive({
          ...this.$store.getters?.getEditingTask,
        });
        this.users = this.form.assigned_people;
        console.log(this.form);
      }
    },
  },
  created() {
    this.initializeTask();
  },
  activated() {
    this.initializeTask();
  },
};
</script>
  
  <style scoped>
.col-md-2 {
  padding: 0;
}

.corner {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
</style>