<template>
    <new-table v-if="isModalOpen" @closeModal="toggleModal"></new-table>
    <ul class="list-group list-group-horizontal custom-margin">
        <base-table v-for="table in this.$store.getters.getTables" :key=table.id :tableId=table.id :name=table.name></base-table>
        <button class="clear-button" @click="toggleModal">
            <font-awesome-icon class="bi pe-2 align-self-center" width="32" height="32" icon="fa-solid fa-plus" />
        </button>
    </ul>
</template>

<script>
import BaseTable from './BaseTable.vue';
import NewTable from './NewTable.vue';

export default {
    name: 'table-list',
    components: {
        BaseTable,
        NewTable
    },
    data() {
        return {
            isModalOpen: false
        }
    },
    methods: {
        toggleModal() {
            this.isModalOpen = !this.isModalOpen;
        }
    }
}
</script>

<style scoped>
    .custom-margin {
        margin-top: 12px;
    }
</style>