<template>
  <!-- <rounded-shadow> -->
  <div class="d-flex flex-column rounded pe-5">
    <v-card>
      <template v-slot:title>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex">
            <span class="display-6 me-3">{{ name }}</span>
            <v-chip class="p-3" color="green"
              ><span style="font-size: 30px">{{ tasks.length }}</span></v-chip
            >
          </div>
          <div>
            <!-- V LIST BURGER MENU--------------------------------------------------------------------------------------------------- -->
            <v-menu transition="scale-transition">
              <template v-slot:activator="{ props }">
                <v-btn variant="plain" v-bind="props">
                  <font-awesome-icon
                    class="fw-bold bi me-2"
                    width="16"
                    height="16"
                    icon="fa-solid fa-bars"
                  />
                </v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-list-item-title
                    ><v-btn
                      @click="openIsNewTaskWindowOpen"
                      color="green"
                      variant="plain"
                      >Add task...</v-btn
                    ></v-list-item-title
                  >
                  <v-list-item-title
                    ><v-btn @click="toggleShowTasks" variant="plain">{{
                      collapseButtonText
                    }}</v-btn></v-list-item-title
                  >
                  <v-list-item-title
                    ><v-btn variant="plain" color="#FFBF00"
                      >Edit</v-btn
                    ></v-list-item-title
                  >
                  <v-list-item-title
                    ><v-btn
                      @click="
                        $emit('openConfirmationModal', {
                          itemName: name,
                          itemType: 'section',
                          itemId: sectionId,
                        })
                      "
                      variant="plain"
                      color="red"
                      >Delete</v-btn
                    ></v-list-item-title
                  >
                </v-list-item>
              </v-list>
            </v-menu>
            <!-- V LIST BURGER MENU END--------------------------------------------------------------------------------------------------- -->
          </div>
        </div>
      </template>

      <template v-slot:text>
        <div :id="`section${sectionId}`"></div>

        <span v-show="!showTasks" class="display-6">. . .</span>
        <!-- <draggable v-model="draggableTasks"> -->
        <base-task
          @launchTaskEditor="editTask"
          v-show="showTasks"
          v-for="task in tasks"
          :id="task.id"
          :sectionId="task.section_id"
          :key="task.id"
          :title="task.title"
          :type="task.type"
          :description="task.description"
          :status="task.status"
          :relevance="task.relevance"
          :users="task.users"
          :due_date="task.due_date"
        ></base-task>
        <span v-show="tasks.length === 0">No tasks found.</span>
        <!-- </draggable > -->
      </template>
      <v-progress-linear
        class="rounded"
        color="green"
        :model-value="donePercentage"
        :height="12"
      ></v-progress-linear>
    </v-card>
  </div>
  <!-- </rounded-shadow> -->
</template>

<script>
import BaseTask from "./BaseTask.vue";
import NewTask from "./NewTask.vue";
import eventBus from "../../eventBus";

export default {
  emits: ["openModal, openConfirmationModal"],
  components: {
    BaseTask,
    NewTask,
  },
  data() {
    return {
      completedTaskCount: 0,
      showTasks: true,
      editingMode: false,
      draggableTasks: [],
    };
  },
  methods: {
    openIsNewTaskWindowOpen() {
      this.$store.commit("setIsTaskEditingMode", false);
      this.$store.commit("setActiveSection", {
        index: this.sectionIndex,
        id: this.sectionId,
      });
      eventBus.emit("launch-editor", { state: true, section: this.sectionId });
    },
    closeIsNewTaskWindowOpen() {
      this.isNewTaskWindowOpen = false;
    },
    toggleShowTasks() {
      this.showTasks = !this.showTasks;
    },
    insertTask(data) {
      this.tasks.push(data);
    },
    editTask() {
      this.$store.commit("setIsTaskEditingMode", true);
      this.isNewTaskWindowOpen = true;
    },
  },
  props: {
    sectionId: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
      default: "unnamed section",
    },
    color: {
      type: String,
      required: false,
      default: "#d69900",
    },
    tasks: {
      type: Array,
      required: false,
    },
    sectionIndex: {
      type: Number,
      required: true,
    },
  },
  computed: {
    headerColor() {
      return "background-color: " + this.color + ";";
    },
    donePercentage() {
      if (this.$store.getters.getSections[this.sectionIndex]) {
        this.completedTaskCount = 0;
        this.$store.getters.getSections[this.sectionIndex].tasks.forEach(
          (t) => {
            if (t.status === "DONE") {
              this.completedTaskCount++;
            }
          }
        );
        return (100 / this.tasks.length) * this.completedTaskCount;
      }
      return null;
    },
    collapseButtonText() {
      return this.showTasks ? "Collapse tasks" : "Show tasks";
    },
  },
  mounted() {
    console.log(this.sectionId);
    this.draggableTasks = this.tasks;
  },
};
</script>

<style>
.adjust-width {
  width: 94.5%;
  padding: 5px;
}

.box-color {
  background-color: #f8f9fa;
}
</style>