<template>
  <div class="container-fluid">
    <div class="row vh-100">
      <div class="col-md-8">
        <div
          class="d-flex flex-column justify-content-center h-100 align-items-center"
        >
          <h2 class="d-inline">Bringing teams together.</h2>
          <img src="../../../public/computerperson.jpeg" />
        </div>
      </div>
      <div class="col-md-4 bg-light">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <form class="w-75" @submit.prevent="authenticate">
            <h2 class="d-inline">Authentication</h2>

            <v-text-field label="E-mail" v-model="form.email"></v-text-field>
            <v-text-field
              v-if="registerMode"
              :counter="10"
              label="Name"
              v-model="form.name"
            ></v-text-field>
            
            <v-text-field
              :counter="7"
              type="password"
              label="Password"
              v-model="form.password"
            ></v-text-field>
            
            <v-text-field
              v-if="registerMode"
              :counter="7"
              type="password"
              label="Repeat password"
              v-model="form.repeatPassword"
            ></v-text-field>

            <v-text v-if="!registerMode"
              >Don't have an account? Register
              <button type="button" @click="() => turnAuthMode(true)">
                <span>here</span>
              </button></v-text
            >
            <v-text v-else
              >Already have an account? Login
              <button type="button" @click="() => turnAuthMode(false)">
                <span>here</span>
              </button></v-text
            ><br />

            <div class="mt-5">
              <v-btn class="me-4" type="submit"> submit </v-btn>

              <v-btn @click="clear"> clear </v-btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive } from "vue";
import { router } from "@inertiajs/vue3";

export default {
  data() {
    return {
      registerMode: false,
      form: reactive({
        name: null,
        email: null,
        password: null,
        repeatPassword: null,
      }),
    };
  },
  methods: {
    turnAuthMode(state) {
      this.registerMode = state;
    },
    registerUser() {
      router.post("/register", this.form);
    },
    loginUser() {
      console.log("loginUser ran");
      router.post("/login", this.form);
    },
    authenticate() {
      console.log("authenticate ran");
      if (!this.registerMode) {
        this.loginUser();
      } else {
        this.registerUser();
      }
    },
    clear() {
      this.form = reactive({
        name: null,
        email: null,
        password: null,
        repeatPassword: null,
      });
    },
  },
  computed: {
    activeStyleRegisterBtn() {
      const style = this.registerMode ? "active" : "";
      return "nav-link " + style;
    },
    activeStyleLoginBtn() {
      const style = this.registerMode ? "" : "active";
      return "nav-link " + style;
    },
    buttonText() {
      return this.registerMode ? "Sign up" : "Sign in";
    },
  },
};
</script>

<style scoped>
.red-color {
  background-color: #dc4c41;
}

img {
  width: 800px;
}

.container-fluid {
  overflow-y: hidden;
}
</style>