 <template>
  <div class="mt-5">
    <table-list></table-list>
    <gantt-diagram :initData="renderedWorkspace"></gantt-diagram>
  </div>

  <v-snackbar v-model="snackbar">
    {{ message }}
    <template v-slot:actions>
      <v-btn color="pink" variant="text" @click="snackbar = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import Layout from "../Components/Users/Layout.vue";
import GanttDiagram from "../Components/dashboard/GanttDiagram.vue";
import RoundedShadow from "../Components/UI/RoundedShadow.vue";
import TableList from "../Components/projectboard/TableList.vue";
import { mapGetters } from "vuex";
export default {
  layout: Layout,
  components: {
    GanttDiagram,
    RoundedShadow,
    TableList,
  },
  data() {
    return {
      snackbar: false,
      message: "",
      tasks: [
        {
          id: "task1",
          name: "Task 1",
          start: "2023-03-30",
          end: "2023-03-10",
          progress: 50,
          dependencies: "",
        },
        {
          id: "task2",
          name: "Task 2",
          start: "2023-03-11",
          end: "2023-03-20",
          progress: 25,
          dependencies: "task1",
        },
      ],
    };
  },
  props: {
    workspaces: {
      type: Array,
      required: false,
    },
    newWorkspace: {
      type: Object,
      required: false,
    },
    firstUserWorkspace: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    if (this.workspaces.length !== 0) {
      this.$store.commit("setWorkspaces", this.workspaces);
      this.$store.commit("setUsersInWorkspace", this.firstUserWorkspace.users);
    }
  },
  computed: {
    ...mapGetters(["getSelectedWorkspace", "getSections"]),
    renderedWorkspace() {
      if (Object.values(this.getSelectedWorkspace).length !== 0) {
        console.log("returning selected workspace");
        return this.getSections;
      } else {
        console.log("returning first workspace");
        return this.firstUserWorkspace.tables[0].sections;
      }
    },
  },
  watch: {
    newWorkspace: {
      handler(newVal, oldVal) {
        this.$store.commit("setWorkspaces", [
          ...this.$store.getters?.getWorkspaces,
          newVal,
        ]);
        this.message = `Workspace ${newVal.name} created successfully!`;
        this.snackbar = true;
      },
    },
  },
};
</script>

<style>
</style>
