<template>
  <div class="container-fluid mt-5">
    <div class="row">
      <avatar-card
        class="me-3"
        v-for="user in getUsersInWorkspace"
        :key="user.id"
        :name="user.name"
        :email="user.email"
        :avatar_color="user.avatar_color"
      ></avatar-card>
    </div>
  </div>
</template>

<script>
import Layout from "../Components/Users/Layout.vue";
import { mapGetters } from "vuex";
import AvatarCard from "../Components/UI/AvatarCard.vue";
export default {
  layout: Layout,
  components: {
    AvatarCard,
  },
  computed: {
    ...mapGetters(["getUsersInWorkspace"]),
  },
};
</script>