<template>
  <Teleport v-if="isNewTaskWindowOpen" :to="teleportTo || 'body'">
    <new-task
      @closeTab="closeIsNewTaskWindowOpen"
      :sectionId="sectionId"
      class="mt-3"
      @passTask="insertTask"
    ></new-task>
  </Teleport>
  <Head>
    <title>{{ workspace?.name }} workspace</title>
  </Head>
  <vuetify-modal ref="confirmationDialog"></vuetify-modal>
  <keep-alive>
    <div class="container-fluid mt-5 mb-5">
      <table-list></table-list>
      <hr class="m-0" />
      <div class="d-flex align-items-center flex-row mt-3">
        <button type="button" @click="copyWorkspaceId" ref="clipboardBtn">
          <font-awesome-icon icon="fa fa-user-plus"></font-awesome-icon> Invite
          <v-tooltip activator="parent" location="top"
            >Click to copy WorkspaceID to clipboard</v-tooltip
          >
        </button>
        <button type="button" class="ms-3" @click="toggleSection">
          <font-awesome-icon icon="fa fa-plus"></font-awesome-icon> Add section
          <v-tooltip activator="parent" location="top"
            >Click to add section</v-tooltip
          >
        </button>
        <v-card-text style="max-width: 215px !important">
          <v-text-field
            style="width: 200px"
            :loading="loading"
            density="compact"
            class="m-0"
            variant="solo"
            label="Search tasks"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
            @click:append-inner="onClick"
            @input="
              (event) =>
                this.$store.commit('setSearchString', event.target.value)
            "
            clearable
          >
            <v-tooltip activator="parent" location="top"
              >Search by description and title</v-tooltip
            >
          </v-text-field>
        </v-card-text>
        <v-card class="ms-3">
          <v-tooltip activator="parent" location="top"
            >Filter tasks by assigned person</v-tooltip
          >
          <select
            style="width: 200px; height: 40px"
            class="form-select border-0"
            aria-label="Default select example"
            @change="filterTasksByUser"
          >
            <option selected value="0">Everyone</option>
            <option
              v-for="user in this.$store.getters.getUsersInWorkspace"
              :key="user?.id"
              :value="user?.id"
            >
              {{ user?.name }}
            </option>
          </select>
        </v-card>
        <v-card class="ms-3">
          <v-tooltip activator="parent" location="top"
            >Sort tasks by deadline</v-tooltip
          >
          <select
            style="width: 200px; height: 40px"
            class="form-select border-0"
            aria-label="Default select example"
            @change="sortTasksByDates"
          >
            <option selected value="unsorted">Unsorted</option>
            <option value="asc">Sort by closest</option>
            <option value="desc">Sort by furthest</option>
          </select>
        </v-card>
        <v-progress-circular
          v-if="this.$store.getters.getTasksLoading"
          class="ms-3"
          :width="3"
          color="red"
          indeterminate
        ></v-progress-circular>
      </div>

      <new-section
        @closeTab="toggleSection"
        v-show="isAddSectionOpen"
        :sectionId="currentSectionId"
        class="me-5"
      ></new-section>

      <div class="d-flex flex-column mt-3 section-margin">
        <TaskList
          v-for="(section, index) in tasksList"
          :sectionId="section.id"
          :sectionIndex="index"
          :key="section.id"
          :tasks="section.tasks"
          :name="section.name"
          :color="section.color_hexcode"
          @openModal="toggleModalOpen"
          @openConfirmationModal="openConfirmationModal"
        ></TaskList>
      </div>
    </div>
  </keep-alive>

  <v-snackbar v-model="snackbar">
    {{ message }}
    <template v-slot:actions>
      <v-btn color="pink" variant="text" @click="snackbar = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import TaskList from "../Components/projectboard/TaskList.vue";
import TableList from "../Components/projectboard/TableList.vue";
import Layout from "../Components/Users/Layout.vue";
import NewTask from "../Components/projectboard/NewTask.vue";
import NewSection from "../Components/projectboard/NewSection.vue";
import VuetifyModal from "../Components/UI/VuetifyModal.vue";
import { Head } from "@inertiajs/vue3";
import { mapGetters } from "vuex";
import eventBus from "../eventBus";

export default {
  data() {
    return {
      isNewTaskWindowOpen: false,
      propSectionId: 0,
      snackbar: false,
      isAddSectionOpen: false,
      message: "",
      computedList: [],
      originalList: [],
      useList: "",
      teleportTo: "",
      currentSectionId: "",
    };
  },
  computed: {
    tasksList() {
      if (this.useList === "computed") {
        console.log("using computed list");
        return this.computedList;
      } else {
        console.log("using original list");
        return this.originalList;
      }
    },
    ...mapGetters(["getSections"]),
    sections() {
      return this.$store.getters.getSections;
    },
  },
  methods: {
    copyWorkspaceId() {
      navigator.clipboard.writeText(
        this.$store.getters.getSelectedWorkspace.id
      );
      this.message = "WorkspaceID copied to clipboard!";
      this.snackbar = true;
    },
    toggleSection() {
      this.isAddSectionOpen = !this.isAddSectionOpen;
    },
    openConfirmationModal(data) {
      this.$refs.confirmationDialog.openDialog(data);
    },
    filterTasksByUser(event) {
      if (event.target.value !== "0") {
        this.$store.commit("setFilteringMode", true);
        this.useList = "computed";
        this.$store.commit("filterTaskList", event.target.value);
        this.computedList = [...this.$store.getters?.getFilteredTaskList];
      } else {
        this.useList = "computed";
        this.$store.commit("setFilteringMode", false);
        this.computedList = [...this.getSections];
      }
    },
    sortTasksByDates(event) {
      var tempArray = [];
      console.log(event.target.value);
      if (event.target.value === "asc") {
        tempArray = this.computedList.map((section) => ({
          ...section,
          tasks: section.tasks.sort(this.compareAscending),
        }));
        this.computedList = tempArray;
        this.useList = "computed";
      } else if (event.target.value === "desc") {
        tempArray = this.computedList.map((section) => ({
          ...section,
          tasks: section.tasks.sort(this.compareDescending),
        }));
        this.computedList = tempArray;
        this.useList = "computed";
      } else {
        this.useList = "original";
      }
    },
    compareAscending(a, b) {
      return new Date(a.due_date) - new Date(b.due_date);
    },
    compareDescending(a, b) {
      return new Date(b.due_date) - new Date(a.due_date);
    },
  },
  layout: Layout,
  components: {
    TaskList,
    TableList,
    NewTask,
    NewSection,
    VuetifyModal,
  },
  props: {
    workspace: {
      type: Object,
      require: true,
    },
    tables: {
      type: Array,
      required: false,
    },
    sections: {
      type: Array,
      required: false,
    },
    newTask: {
      type: Object,
      required: false,
    },
    newTable: {
      type: Object,
      required: false,
    },
    newSection: {
      type: Object,
      required: false,
    },
    responseMessage: {
      type: String,
      required: false,
    },
  },
  mounted() {
    this.$store.commit("setSections", this.sections);
    eventBus.on("launch-editor", (data) => {
      this.teleportTo = `#section${data.section}`;
      this.currentSectionId = data.section;
      this.isNewTaskWindowOpen = data.state;
    });
    this.computedList = [...this.getSections];
    this.originalList = [...this.getSections];
    if (this.$page.props?.workspace?.users) {
      this.$store.commit(
        "setUsersInWorkspace",
        this.$page.props?.workspace?.users
      );
    }
  },
  watch: {
    newTask: {
      handler(newVal, oldVal) {
        this.$store.commit("addTaskToSection", newVal);
        this.message = `Task ${newVal.name} created successfully!`;
        this.snackbar = true;
      },
    },
    newTable: {
      handler(newVal, oldVal) {
        this.$store.commit("addTableToTables", newVal);
        this.message = `Table ${newVal.name} created successfully!`;
        this.snackbar = true;
      },
    },
    newSection: {
      handler(newVal, oldVal) {
        if(!newVal) return;
        console.log("newSection added");
        this.$store.commit("setSections", [...this.getSections, newVal]);
        this.message = `Section ${newVal.name} created successfully!`;
        this.originalList = [...this.getSections];
        this.computedList = [...this.getSections];
        this.snackbar = true;
      },
    },
    shouldUpdateList: {
      handler(newValue, oldValue) {
        if (newValue) {
          this.computedList = [...this.$store.getters.getSections];
          this.shouldUpdateList = false;
        }
      },
    },
  },
};
</script>

<style scoped>
.section-margin div:not(:first-child) {
  margin-top: 1rem;
}

.container-fluid {
  margin-top: 12px !important;
}
</style>
