<template>
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar-height display-none fixed overflow-auto"
    style="width: 280px"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <span class="fs-4">Menu</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <sidebar-item
        title="Dashboard"
        linkTo="/dashboard"
        icon="fa-chart-line"
      ></sidebar-item>
      <sidebar-dropdown></sidebar-dropdown>
      <sidebar-item
        title="Chat"
        linkTo="/chat"
        icon="fa-comment"
      ></sidebar-item>
      <sidebar-item
        title="Team Members"
        linkTo="/team"
        icon="fa-users"
      ></sidebar-item>
    </ul>
    <hr />
    <div>
      <button
        href="#"
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle clear-button"
        @click="toggleDropdown"
      >
        <v-avatar
          :color="this.$page.props.user.avatar_color"
          class="me-2 text-white"
        >
          <span class="text-h5">{{ initials }}</span>
        </v-avatar>
        <strong class="text-truncate">{{ this.$page.props.user?.name }}</strong>
      </button>
    </div>
  </div>
</template>

<script>
import SidebarItem from "./SidebarItem.vue";
import SidebarDropdown from "./SidebarDropdown.vue";

export default {
  components: {
    SidebarItem,
    SidebarDropdown,
  },
  methods: {},
  computed: {
    initials() {
      if (this.$page.props.user) {
        var names = this.$page.props.user?.name.split(" "),
          initials = names[0].substring(0, 1).toUpperCase();
        if (names.length > 1) {
          initials += names[names.length - 1].substring(0, 1).toUpperCase();
        }
      } else {
        initials = "--";
      }
      return initials;
    },
    isWorkspaceSelected() {
      return Object.values(this.$store.getters?.getSelectedWorkspace).length !== 0;
    },
  },
};
</script>

<style scoped>
.sidebar-height {
  height: calc(100vh - 70px);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fixed {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  margin-top: 70px;
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  .display-none {
    display: none !important;
  }
}
</style>
