<template>
  <li>
    <inertia-link
      class="list-group-item nav-link link-dark ms-4"
      :href="workspaceLink"
      @click.prevent="changeSelectedWorkspace"
      :class="{ active: workspaceId === this.$store.getters.getSelectedWorkspace.id }"
    >
      <font-awesome-icon
        class="bi me-2"
        width="16"
        height="16"
        icon="fa-solid fa-table"
      />
      {{ name }}
    </inertia-link>
  </li>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      workspace: null,
    };
  },
  props: {
    name: {
      type: String,
      required: true,
    },
    workspaceId: {
      type: String,
      required: true,
    },
  },
  computed: {
    workspaceLink() {
      this.workspace = this.$store.getters.getWorkspaces.find(
        (w) => w.id === this.workspaceId
      );
      return `/workspaces/${this.workspaceId}/${this.workspace.tables[0].id}`;
    },
  },
  methods: {
    changeSelectedWorkspace() {
      this.$store.commit("setSelectedWorkspace", this.workspace);
      this.$store.commit("setTables", this.workspace?.tables);
      this.$store.commit("setSelectedTable", this.workspace?.tables[0]);
    },
  },
  name: "dropdown-item",
};
</script>

<style scoped>
li {
  list-style: none;
}

li a:hover,
li a:active,
li a.active,
li a.active:focus,
li a.exact-active {
  color: white !important;
  border-color: #dc4c41 !important;
  background-color: #dc4c41 !important;
  border-radius: 5px;
}
</style>