<template>
    <li>
        <inertia-link :href="linkTo" class="nav-link link-dark" :class="{'active': $page.url.startsWith(linkTo)}">
            <font-awesome-icon class="bi me-2" width="16" height="16" :icon="injectIcon" />
            {{ title }}
        </inertia-link>
    </li>
</template>

<script>

export default {
    name: "sidebar-item",
    components: {
    },
    props: {
        title: {
            type: String,
            required: true,
            default: "unammed link"
        },
        linkTo: {
            type: String,
            required: true,
        },
        dropdown: {
            type: Boolean
        },
        icon: {
            type: String
        },
    },
    computed: {
        injectIcon() {
            return "fa-solid " + this.icon;
        },
    }
}
</script>

<style scoped>
li a:hover,
li a:active,
li a.active,
li a.active:focus,
li a.exact-active {
  color: white !important;
  border-color: #dc4c41 !important;
  background-color: #dc4c41 !important;
}
</style>
