<template>
  <li>
    <div class="d-flex justify-content-between align-items-center">
      <button @click="toggleIsOpened" class="nav-link link-dark d-inline-block">
        <font-awesome-icon
          class="bi me-2"
          width="16"
          height="16"
          icon="fa-solid fa-folder-open"
        />
        Workspaces
      </button>
      <font-awesome-icon
        class="bi me-2"
        width="16"
        height="16"
        :icon="caretPosition"
      />
    </div>
  </li>
  <ul class="list-group" v-if="isOpened">
    <dropdown-item
      v-for="workspace in this.$store.getters.getWorkspaces"
      :key="workspace.id"
      :workspaceId="workspace.id"
      :name="workspace.name"
    ></dropdown-item>
    <li class="nav-link link-dark list-group-item ms-4" v-if="this.$store.getters?.getWorkspaces?.length === 0">
      <span class="bi me-1"></span>
      <span>No workspaces yet :(</span>
    </li>
  </ul>
</template>

<script>
import DropdownItem from "./DropdownItem.vue";

export default {
  name: "sidebar-dropdown",
  props: {
  },
  components: {
    DropdownItem,
  },
  data() {
    return {
      isOpened: false,
    };
  },
  computed: {
    caretPosition() {
      const caret = this.isOpened ? "fa-caret-down" : "fa-caret-up";
      return "fa-solid " + caret;
    },
  },
  methods: {
    toggleIsOpened() {
      this.isOpened = !this.isOpened;
    },
  },
};
</script>