<template>
  <new-workspace @closeModal="closeModal" v-if="isModalOpen"></new-workspace>
  <header class="p-3 red-color fixed">
    <div class="container-flex">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
        >
          <svg
            class="bi me-2"
            width="40"
            height="32"
            role="img"
            aria-label="Bootstrap"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>

        <div
          class="nav col-12 col-lg-auto me-lg-auto mb-2 align-items-center justify-content-center mb-md-0"
        >
          <font-awesome-icon icon="fa-solid fa-house" />
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>
        </div>
        <font-awesome-icon class="mobile-bars" icon="fa-solid fa-bars" />
        <button @click="openModal" class="clear-button">
          <font-awesome-icon class="mr-5" icon="fa-solid fa-plus" />
        </button>
        <font-awesome-icon icon="fa-solid fa-bell" />
        <!-- --------------- -->
        <div class="dropdown">
          <button
            href="#"
            class="d-flex align-items-center link-dark text-decoration-none clear-button"
            @click="toggleDropdown"
          >
            <font-awesome-icon icon="fa-solid fa-gear" />
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end text-small shadow"
            v-if="isDropdownEnabled"
          >
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <button
                type="submit"
                @click="handleLogout"
                class="dropdown-item clear-button"
                href="#"
              >
                Sign out
              </button>
            </li>
          </ul>
        </div>

        <!-- -------------- -->
      </div>
    </div>
  </header>
</template>

<script>
import { router } from "@inertiajs/vue3";
import NewWorkspace from "./NewWorkspace.vue";

export default {
  components: {
    NewWorkspace,
  },
  data() {
    return {
      isDropdownEnabled: false,
      isModalOpen: false,
    };
  },
  methods: {
    toggleDropdown() {
      this.isDropdownEnabled = !this.isDropdownEnabled;
    },
    handleLogout() {
      this.$store.dispatch("logout");
      router.get("/logout");
    },
    openModal() {
      this.isModalOpen = true;
      console.log("opening modal... state: " + this.isModalOpen);
    },
    closeModal() {
      this.isModalOpen = false;
    },
  },
};
</script>

<style scoped>
.red-color {
  background-color: #dc4c41;
}

svg {
  font-size: larger;
  color: white;
  margin-right: 1.5rem;
}

input,
input:focus {
  background-color: #e36f66;
}

input::placeholder {
  color: white;
}

.dropdown-menu {
  display: block !important;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}

.fixed {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  width: 100%;
}

.mobile-bars {
  display: none;
}

/* Mobile styles */
@media (max-width: 991.98px) {
  .container-flex {
    flex-direction: column;
  }

  .mobile-bars {
    display: block;
  }

  .nav {
    display: none;
  }

  .mb-2.mb-lg-0 {
    margin-bottom: 0 !important;
  }

  .dropdown-menu {
    right: 0.8rem;
  }
}
</style>