<template>
  <Teleport to="body">
    <v-modal>
      <template #header>
        <v-tabs v-model="tab" bg-color="primary">
          <v-tab value="create">Create</v-tab>
          <v-tab value="join">Join</v-tab>
        </v-tabs>
      </template>
      <template #body>
        <v-card-text>
          <v-window v-model="tab">
            <v-window-item value="create">
              <form @submit.prevent="createWorkspace">
                <div class="mb-3">
                  <label for="workspacename" class="form-label"
                    >Workspace name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="workspacename"
                    @input="changeWorkspaceName"
                  />
                </div>
                <div class="mb-3">
                  <label for="tablename" class="form-label"
                    >Initial table name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="tablename"
                    @input="changeTableName"
                  />
                </div>
                <button type="submit" class="btn btn-primary me-1">
                  Create workspace
                </button>
                <button class="btn btn-primary btn-danger" @click="closeModal">
                  Cancel
                </button>
              </form>
            </v-window-item>

            <v-window-item value="join">
              <form @submit.prevent="joinWorkspace">
                <label for="basic-url" class="form-label"
                  >Join by providing workspaceID</label
                >
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3"
                    >/invite/</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                    v-model="joinId"
                  />
                </div>
                <button type="submit" class="btn btn-primary me-1">
                  Join workspace
                </button>
                <button class="btn btn-primary btn-danger" @click="closeModal">
                  Cancel
                </button>
              </form>
            </v-window-item>
          </v-window>
        </v-card-text>
      </template>
      <template #footer>
        <span></span>
      </template>
    </v-modal>
  </Teleport>
</template>

<script>
import VModal from "../../UI/VModal.vue";
import { reactive } from "vue";
import { router } from "@inertiajs/vue3";

export default {
  emits: ["closeModal"],
  data() {
    return {
      form: reactive({
        name: "",
        tableName: "",
      }),
      joinForm: reactive({
        joinId: ""
      }),
      tab: "",
    };
  },
  components: {
    VModal,
  },
  computed: {},
  methods: {
    changeWorkspaceName(event) {
      this.form.name = event.target.value;
    },
    closeModal() {
      this.$emit("closeModal");
    },
    createWorkspace() {
      router.post("/workspaces", {
        ...this.form,
        user_id: this.$page.props.user?.id,
      });
      this.$emit("closeModal");
    },
    changeTableName(event) {
      this.form.tableName = event.target.value;
    },
    joinWorkspace() {
      console.log("joining workspace");
      router.post("/invite", { workspaceId: this.joinId, userId: this.$page.props?.user.id });
      this.$emit("closeModal");
    },
  },
};
</script>

<style>
</style>