<template>
  <base-header></base-header>
  <div class="d-flex flex-row">
    <aside>
      <base-sidebar></base-sidebar>
    </aside>
    <div class="flex-grow-1 responsive-sizing">
      <main>
        <slot></slot>
      </main>
    </div>
  </div>
</template>

<script>
import BaseHeader from "../layout/header/BaseHeader.vue";
import BaseSidebar from "../layout/sidebar/BaseSidebar.vue";
import { router } from '@inertiajs/vue3'

export default {
  name: "App",
  components: {
    BaseHeader,
    BaseSidebar,
  },
  computed: {
  },
  beforeCreate() {
    console.log("layout beforeCreate")
    router.get('/dashboard')
  },
  props: {
  },
  // watch: {
  //   workspaces: {
  //     handler: function() {
  //       this.$store.commit('setWorkspaces', this.$page.props.workspaces);
  //     }
  //   } 
  // }
};
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-full {
  min-width: 100%;
}

#app {
  height: 100%;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.clear-button {
  background-color: transparent;
  border: none;
}

.responsive-sizing {
  margin-left: 280px; margin-top: 70px;
}

@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  .responsive-sizing {
    margin-left: 0px
  }
}
</style>
