<script>
import VModal from "../UI/VModal.vue";
import { reactive } from "vue";
import { router } from "@inertiajs/vue3";

export default {
  name: "auth-modal",
  data() {
    return {
      registerMode: false,
      form: reactive({
        name: null,
        email: null,
        password: null,
        repeatPassword: null
      }),
    };
  },
  components: {
    VModal,
  },
  methods: {
    turnAuthMode(state) {
      this.registerMode = state;
    },
    registerUser() {
      router.post("/register", this.form);
    },
    loginUser() {
      console.log("loginUser ran");
      router.post("/login", this.form);
    },
    authenticate() {
      console.log("authenticate ran");
      if (!this.registerMode) {
        this.loginUser();
      } else {
        this.registerUser();
      }
    },
  },
  computed: {
    activeStyleRegisterBtn() {
      const style = this.registerMode ? "active" : "";
      return "nav-link " + style;
    },
    activeStyleLoginBtn() {
      const style = this.registerMode ? "" : "active";
      return "nav-link " + style;
    },
    buttonText() {
      return this.registerMode ? "Sign up" : "Sign in";
    },
  },
};
</script>

<template>
  <Teleport to="body">
    <!-- use the modal component, pass in the prop -->
    <v-modal>
      <template #header>
        <span></span>
      </template>
      <template #body>
        <!-- Pills navs -->
        <ul class="nav nav-pills nav-justified mb-3">
          <li class="nav-item">
            <button :class="activeStyleLoginBtn" @click="() => turnAuthMode(0)">
              Login
            </button>
          </li>
          <li class="nav-item">
            <button
              :class="activeStyleRegisterBtn"
              @click="() => turnAuthMode(1)"
            >
              Register
            </button>
          </li>
        </ul>
        <!-- Pills navs -->

        <!-- Pills content -->
        <div class="tab-content">
          <div class="tab-pane fade show active">
            <form method="POST" @submit.prevent="authenticate">
              <!-- <div class="text-center mb-3">
                <p>Sign in with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>

              <p class="text-center">or:</p> -->
              <div class="form-outline mb-4" v-if="registerMode === 1">
                <input
                  type="text"
                  id="loginName"
                  class="form-control"
                  v-model="form.name"
                />
                <label class="form-label" for="loginName">Full name</label>
              </div>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="loginEmail"
                  class="form-control"
                  v-model="form.email"
                />
                <label class="form-label" for="loginEmail">Email</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="loginPassword"
                  class="form-control"
                  v-model="form.password"
                />
                <label class="form-label" for="loginPassword">Password</label>
              </div>

              <!-- Repeat Password input -->
              <div class="form-outline mb-4" v-if="registerMode === 1">
                <input
                  type="password"
                  id="registerRepeatPassword"
                  class="form-control"
                  v-model="form.repeatPassword"
                />
                <label class="form-label" for="registerRepeatPassword"
                  >Repeat password</label
                >
              </div>

              <!-- 2 column grid layout -->
              <div class="row mb-4">
                <div
                  class="col-md-6 d-flex justify-content-center"
                  v-if="registerMode === 0"
                >
                  <!-- Simple link -->
                  <a href="#!">Forgot password?</a>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block mb-3 justify-self-right">
                {{ buttonText }}
              </button>
            </form>
          </div>
        </div>
        <!-- Pills content -->
      </template>
    </v-modal>
  </Teleport>
</template>

<style>
.outline-blue {
  border: 1px solid blue !important;
}
</style>